[metadata]
name = bluish
version = ${{ var.project_version }}
author = Luis Medel
author_email = luis@luismedel.com
description = A CI/CD tool
long_description = file: README.md
license = MIT-Clause
classifiers =
    Intended Audience :: Developers
    Programming Language :: Python :: 3
    License :: OSI Approved :: MIT License
    Operating System :: OS Independent
    Typing :: Typed
